{{#bs-modal tagName="" footer=false autoClose=false closeAction=(action "closeModal") size="lg" body=false header=false as |modal|}}
  {{#modal.header}}
    <h3>{{title}}</h3>
  {{/modal.header}}
  {{#modal.body}}
  {{#bs-form action=(action "sendEmail" model=model) model=this as |form|}}
  <div class="row">
    <div class="col-md-8">
      <div style="width:85%;">
	{{form.element controlType="email" property="to" placeholder="Enter an email address" autofocus=true label="To" }}
      </div>
      <div style="width:85%;">
	{{form.element controlType="text" property="cc" label="CC" placeholder="Enter an email address" }}
      </div>
      <div style="width:85%;">
	{{form.element controlType="text" property="subject" label="Subject" placeholder="Enter a subject for this email" }}
      </div>
      <div style="width:85%;" class="form-group">
	<label for="inputBody">Message</label>
	{{textarea class="form-control" value=message id="inputBody" rows="8"}}
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
	{{#if hasBlock}}
	{{yield}}
	{{/if}}
      </div>
    </div>
  </div>
  {{/bs-form}}
  {{/modal.body}}
  {{#modal.footer as |footer|}}
    {{#async-button action=(action "sendEmail" model) class="btn btn-primary" as |component state|}}
    	{{#if state.isDefault}}
	  {{action-button-default-text}}
	{{/if}}
	{{#if state.isPending}}
	  {{fa-icon "spinner" spin=true}} {{action-button-pending-text}}
	{{/if}}
	{{#if state.isFulfilled}}
	    {{action-button-fulfilled-text}}
	{{/if}}
    {{/async-button}}
    or <a href="#" {{action "closeModal"}}>cancel</a>
  {{/modal.footer}}
{{/bs-modal}}
